
@{
    ViewBag.Title = "Index";
}

<nav>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Página Inicial</a></li>
        <li><a asp-action="Index" asp-controller="Clientes">Clientes</a></li>
    </ul>
</nav>

<h2>Demo FileUPLoad</h2>

